.registerationHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(69, 69, 89);
    background-size: cover;
    background-position: center;
}